# systemd unit file for dashboard

[Unit]

Description=rt_imager

[Service]

# Command to execute when service start
WorkingDirectory=$NSFRBDIR/realtime
ExecStart=/bin/bash -i $NSFRBDIR/realtime/run_realtime_imager
ExecStop=/bin/bash -i $NSFRBDIR/realtime/kill_realtime_imager
#ExecStop=/home/ubuntu/msherman_nsfrb/miniconda/envs/casa310nsfrb/bin/python /home/ubuntu/msherman_nsfrb/DSA110-NSFRB-PROJECT/dsa110-nsfrb/offline/clearvis.py --populate
#"/bin/kill -9 $(pgrep -f mercury)"
MemoryMax=5G
MemoryHigh=4G

# Prevent python buffering; write to syslog
Environment=PYTHONUNBUFFERED=1

# Restart service on failure
Restart=on-failure

[Install]

# Automatically start service on boot
WantedBy=default.target
~                                                                                                                                      
~                                                                                                                                      
~                                                                                                                                      
~                                                                                                                                      
~                                                                                                                                      
~                                                                                                                                      
~                                                                                                                                      
~                                                                                                                                      
~                                                                                                                                      
~                                                                                                                                      
~                                                                                                                                      
~                                                                                                                                      
~                                                                                                                                      
~                                                                                                                                      
~                                                                                                                                      
~                                                                                                                                      
~                                                                                                                                      
~                                                                                                                                      
~                                                                                                                                      
~                                                                                                                                      
~                                                                                                                                      
~                                                                                                                                      
~                                                                                                                                      
~                                                                                                                                      
~                                                                                                                                      
~                                                                                                                                      
~                                                                                                                                      
~                                                                                                                                      
~                                                                                                                                      
~                                                                                                                                      
~                                                                                                                                      
~                                                                                                                                      
"/etc/systemd/user/procserver.service" 27L, 878C                                                                     1,1           All

